.azul-claro {
    color: #167CBF;
    font-weight: 800;
    font-size: 3rem;
}

.laranja{
    color: #F69B2F;
    font-weight: 800;
    font-size: 3rem;
}

.rosa{
    color: #F77CA8;
    font-weight: 800;
    font-size: 3rem;
}

.texto {
    color: #9A9A9A;
    font-weight: 800;
    font-size: 1.25rem;
    max-width: 37.5rem;
    margin-bottom: 4rem;

}


@media (max-width: 321px) {
    .azul-claro, .laranja, .rosa {
        color: #ffffff;
        font-size: 2.5rem;
        margin-left: 2rem;
        margin-top: 1rem;
        text-align: start;
    }
}

@media (max-width: 376px) {
    .azul-claro, .laranja, .rosa {
        color: #ffffff;
        font-size: 2.5rem;
        margin-left: 2rem;
        margin-top: 1rem;
        text-align: start;
    }
}

@media (max-width: 426px) {
    .azul-claro, .laranja, .rosa {
        color: #ffffff;
        font-size: 2.5rem;
        margin-left: 2rem;
        margin-top: 1rem;
        text-align: start;
    }
}
@media (max-width: 769px) {
    .azul-claro, .laranja, .rosa {
        font-size: 2.5rem;
        /*margin-left: 2rem;*/
        /*margin-top: 1rem;*/
        text-align: start;

    }
}