.selectGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5rem;
}

.select1 {
    border-radius: 0.8rem;
    border: 1px solid #CCCCCC;
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #333;
    box-sizing: border-box;
}


.titulo {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

@media (max-width: 480px) {
    .titulo {
        font-size: 0.9rem;
        color: white;
        margin-bottom: 0.3rem;
    }

    .select1 {
        padding: 0.7rem 1rem;
        font-size: 0.9rem;
        border: none;
        border-radius: 1rem;
        margin-bottom: 0.8rem;
        background-color: white;
    }
}