.containerSection {
    width: 100%;
    min-height: 100vh;
}

.organizar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    gap: 0.7rem;
    padding: 0 1rem;
    flex-direction: column;
    flex-wrap: wrap;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    padding: 0 2rem;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    width: 100%;
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    max-width: 500px;
}

.botaoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}


@media (max-width: 768px) {
    .organizar {
        margin-top: 3rem;
        gap: 1.5rem;
    }

    .linha {
        gap: 2rem;
    }

    .campos {
        max-width: 450px;
    }
}


@media (max-width: 480px) {
    .containerSection {
        background-color: #F77CA8;
    }

    .organizar {
        margin-top: 0;
        gap: 1rem;
        background-color: #F77CA8;
        padding-top: 1rem;
    }

    .formulario {
        background-color: #F77CA8;
        padding-bottom: 1rem;
        margin: 0;
    }

    .linha {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }

    .campos {
        max-width: 100%;
        width: 100%;
        gap: 0;
    }

    .botaoContainer {
        margin-top: 1rem;
    }
}